<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Auth Services</title>
        <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <link href="../static/styles/styles.css" rel="stylesheet" />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Auth Services</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-secondary">
                            Logout
                        </button>
                    </form>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}"
                            ><button class="btn btn-secondary">Login</button></a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}"
                            ><button class="btn btn-secondary">
                                Sign Up
                            </button></a
                        >
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="container mt-5">{% block content %} {% endblock %}</div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
