body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #231f20;
    color: #fff;
    width: 100%;
    text-align: center;
    position: fixed;
    z-index: 1000;
}

main {
    padding-top: 130px;
    padding-bottom: 100px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

div {
    margin: 0 auto;
    width: 65%;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.prev,
.next {
    z-index: 999;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 10px 15px;
    background-color: hsla(0, 0%, 0%, 0.5);
    color: white;
    border: none;
    cursor: pointer;
}
@keyframes fade {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}
.prev {
    left: 0;
}
.next {
    right: 0;
}

section {
    padding: 2rem;
    margin: 2rem 0;
    border-bottom: 1px solid #ccc;
}
.logo {
    max-height: 100px;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98vw;
    height: 500px;
    position: relative;
    overflow: hidden;
    margin-right: 10px;
}

img.displaySlide {
    display: block;
    animation-name: fade;
    animation-duration: 1s;
}

.sliding-img {
    left: auto;
    right: auto;
    display: none;
    height: 500px;
}
iframe {
    width: 65vw;
    height: 480px;
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed position */
    bottom: 20px; /* Place it 20px from the bottom */
    right: 20px; /* Place it 20px from the right */
    z-index: 1000; /* Ensure it's above other content */
    border: none; /* No border */
    outline: none;
    color: black; /* Text color */
    cursor: pointer; /* Cursor style */
    padding: 15px; /* Padding */
    border-radius: 50%; /* Rounded corners */
    font-size: larger;
    font-weight: bold;
}

#myBtn:hover {
    background-color: #aaa; /* Darker background on hover */
}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 1rem 0;
    }
}
